# Created by .ignore support plugin (hsz.mobi)
/.idea/

/.idea/workspace.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/markdown-navigator.xml
/.idea/code-profiling.iml
/.idea/markdown-navigator/profiles_settings.xml
