# Created by .ignore support plugin (hsz.mobi)
/.idea/

/.idea/workspace.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/markdown-navigator.xml
/.idea/code-profiling.iml
/.idea/markdown-navigator/profiles_settings.xml
research-code/X.csv
research-code/Y.csv
research-code/groups.csv
research-code/labels.csv
research-code/pickle-data/batch-2-lexical-X.pickle
